
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #ffffff;
	color: #EBF7F8;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
}
a {
	color: #D0E0EB;
	text-decoration: none;
	outline: none;
}
.header{
	width:900px;
	margin:0 auto;
}
.header h1{
	color: black;
	text-align: center;
	font-size: 35px;
}
.look_logo{
	width:80px;
	height:80px;
	position: absolute;
	top:0px;
	left:23%;
	display: none;
}
#logo_img{
	width:80px;
	height:80px;
}
.content {
	max-width: 1290px;
	padding: 0 1em;
	margin:0 10px 0 0;
	text-align: center;
}
.component {
	background: url(../img/gridme.png) repeat center center;
	padding: 4em;
	height: 800px;
	border: 3px solid #49708A;
	width:900px;
	overflow: hidden;
	position: relative;
}
.component_file_box{
	position: absolute;
	top:10px;
	left:5px;
}
.hide{
	display: none;
}
.file_box{
	width: 100px;
	height: 31px;
	text-align: center;
	line-height: 31px;
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(222,60,80);
	position: relative;
	margin:-100px 0 0 0 ;
}
#logo{
	width: 100px;
	height: 31px;
	position: absolute;
	right:0;
	left:0;
	margin-right:20px;
	opacity:0;
}
.file_box a{
	color:#fff;
}
.all{
	width: 100px;
	height: 31px;
	line-height: 31px;
	text-align: center;
	background-color: rgb(222,60,80);
	margin:10px 0 10px 0;
	border-radius: 5px;
}
#set,#font,#color,#fonts{
	width: 100px;
	background-color: rgb(222,60,80);
	border:none;
	color: white;
	outline: none;
}
.js-data{
	width: 100px;
	position: absolute;
	padding: 6px 10px;
	 background-color: rgb(222,60,80);
    border: none;
    border-radius: 5px;
    color: #FFF;
    bottom: 5px;
    left: 5px;
}
.file_none{
	position: absolute;
	bottom: 5px;
    left: 5px;
    width: 100px;
    height: 31px;
    text-align: center;
    line-height: 31px;
	border-radius: 5px;
	background-color: rgb(222,60,80);
}
.file_none a{
	color:#fff;
}
.file_none a:link {
text-decoration: none;
color: #F60;
}
.file_none a:visited {
text-decoration: none;
}
.file_none a:hover {
text-decoration: none;
}
.file_none a:active {
text-decoration: none;
font-size: 14px;
font-weight: bold;
}
#img{
	width: 100%;
	opacity:0;
}
.button{
	position: absolute;
    vertical-align: bottom;
    bottom: 20px;
	right: 260px;
    z-index: 999;
   
}
.button button{
	padding: 6px 10px;
	 background-color: rgb(222,60,80);
    border: none;
    border-radius: 5px;
    color: #FFF;
}
.codrops-header {
	padding: 0 0 2em;
	letter-spacing: -1px;
}
/*切图后效果展示*/
.box{
	width: 300px;
	height: 300px;
	border: 3px solid #49708A;
	position: absolute;
	top:100px;
	right:100px;
	background: url(../img/gridme.png) repeat center center;
	display: none;
	z-index: 9999;
}
.box .box_img{
	display: block;
	margin:10px auto 0;
}
.box .close{
	position: absolute;
	top:0;
	right:0;
	color: orange;
	font-size:25px;
}
.box .look{
	width:80px;
	height:30px;
	text-align: center;
	line-height:30px;
	background-color: rgb(222,60,80);
	border-radius: 5px;
	border:none;
	outline: none;
	color: white;
	position: absolute;
	bottom:0;
	left:0;
}
.box .put{
	width:80px;
	height:30px;
	text-align: center;
	line-height:30px;
	background-color: rgb(222,60,80);
	border-radius: 5px;
	border:none;
	outline: none;
	color: white;
	position: absolute;
	bottom:0;
	right:0;
}
/*输入文字隐藏*/
.show{
	display: none;
	position: absolute;
	top: 30%;
	left:  75%;
	z-index: 9999;
}