@font-face {
    font-family: 'iconfont';
    src: url('../icon/iconfont.eot');
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../icon/iconfont.woff') format('woff'),
    url('../icon/iconfont.ttf') format('truetype'),
    url('../icon/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:14px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/*======================================================================================================================
案例
========================================================================================================================*/
.project {
    width:10rem;
    margin:2.24rem auto 0;
}
.case-header {
    width:10rem;
    height:4.2rem;
    background:url('http://test.myushan.com//lzphone/case01.png') no-repeat center;
    background-size: cover;
    margin-bottom: 0.6rem;
}
.case-header-title {
    width:10rem;
    height:4.2rem;
    background: rgba(0,0,0,0.5);
    padding: 0.1px;
}

.case-header-title p:first-child {
    font-size: 0.7rem;
    color: white;
    margin-top:1.1rem ;
    margin-left: 0.7444444rem;
}

.case-header-title p:first-child>span {
    font-size: 14px;
}
.case-header-t {
    margin-top: 0.3rem;
    margin-left: 0.7444444rem;
    color: white;
    font-size: 14px;
    display: block;
}
.project-infor {
    width:3.1444rem;
    height:0.8533333rem;
    line-height:0.8533333rem;
    border:1px solid #e60012;
    font-size: 14px;
    color: #e60012;
    text-align: center;
    margin:0 auto;
}
.project-infor .iconfont {
    margin-right: 0.2rem;
    font-size: 14px;
}
.project-swiper {
    width: 10rem;
    height: 9.4rem;
    padding:0 0.8rem;
    margin:0 auto 0.6rem;
}
.project-swiper  .swiper-container {
    width:100%;
    height:100%;
    background: url("http://test.myushan.com//lzphone/case02.png") no-repeat center;
    background-size: cover;
}
.swiper-slide .icon {
    margin-top: 0.46666rem;
   text-align: center;
    margin-bottom:0.2rem;
}
.swiper-slide .icon img{
    width:1.226666rem;
}
.swiper-slide .swiper-text {
    width:100%;
    padding:0 0.5rem;
}
.swiper-slide .swiper-text .swiper-text-name {
    color: #e60012;
    font-size: 14px;
}
.swiper-text-infor {
    font-size: 14px;
    line-height: 0.5rem;
    color: #333;
}
.swiper-text p {
    margin-bottom: 0.2rem;
}
.swiper-text .swiper-btn {
    display: inline-block;
    width:1.72rem;
    height:0.53333rem;
    line-height: 0.53333rem;
    text-align: center;
    background: #e60012;
    color: white;
   border-radius: 5px;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #e60012!important;
}
.project-infor-all {
    display: none;
}
/*============================================展开更多=*/
.swiper-all {
    width:10rem;
    text-align: center;
    margin:0 auto;
}
.swiper-all  img {
    width:0.6rem;
    margin: 0 auto;
}
.swiper-all p {
    color: #e60012;
    font-size: 14px;
    margin-bottom: 0.3rem;
}
.dropload-load {
    width: 10rem;
    text-align: center;
    display: none;
    margin:0 auto;
}
.dropload-load .loading {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*======================================================================================================================
弹出框
=========================================================================================================================*/
.swiper-box {
    width: 6rem;
    height: 11rem;
    background: url(http://test.myushan.com//lingzhong/ipon.png) no-repeat center;
    background-size: 100% 100%;
    padding: 0.1px;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    z-index:9999;
}
.swiper-box .swiper-container {
    width: 5.2rem;
    height: 8.3rem;
    margin-top: 1.3rem;
}
.swiper-box .swiper-container  .swiper-slide {
    width:100%;
    height:100%;
}
.swiper-box .swiper-container  .swiper-slide img {
    width:100%;
    height:100%;
}
    /*=====================================================================================================================
    foot
    =========================================================================================================================*/
.foot {
    width:100%;
    height:1.4rem;
    margin:0 auto;
    background: #cbcbcb;
    position: relative;
}
.foot-logo  {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:2.4rem;
}